<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= title %></h2>
  <form method="POST" class="category-form">
    <label for="name">Category:</label>
    <input name="name" type="text" required value="<%= category ? category.name : null %>">
    <button type="submit" class="add-button">Add category</button>
  </form>
  <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>
<%- include("./partials/foot") %>