<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= category.name %></h2>
  <% if (products.length > 0) { %>
    <div class="products-list">
      <% products.forEach(product => { %>
        <div class="product">
          <a href="<%= product.url %>">
            <div class="product-img"></div>
            <p><%= product.name %></p>
          </a>
          <p class="price">$<%= product.price %></a></p>
          <div class="add-button">Add to cart</div>
        </div>
    <% }) %>
  <% } else { %>
    <p>There are no products in this category.</p>
  <% } %>
  <div>
    <h3>Admin actions</h3>
    <a href="<%= category.url %>/edit">Edit category</a>
    <a href="<%= category.url %>/delete">Delete category</a>
  </div>
</div>
<%- include("./partials/foot") %>