<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= title %></h2>

  <% if (categories_list.length) { %>
    <ul>
      <% categories_list.forEach(category => { %>
        <li><a href="<%= category.url %>"><%= category.name %></a></li>
      <% }) %>

    </ul>
  <% } else { %>
    <p>There are no categories.</p>
  <% } %>
</div>
 <%- include("./partials/foot") %>