<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= title %></h2>

  <% if (categories_list.length) { %>
    <div class="categories-list">
      <% categories_list.forEach(category => { %>
        <div class="category">
          <a href="<%= category.url %>">
            <div class="category-img"></div>
            <p><%= category.name %></p>
          </a>
        </div>
      <% }) %>

      </div>
  <% } else { %>
    <p>There are no categories.</p>
  <% } %>
</div>
 <%- include("./partials/foot") %>