<%- include("./partials/head") %>
<%- include("./partials/header") %>
<%- include("./partials/hero") %>
<div class="main">
  <h1><%= title %></h1>
  <% if (user) { %>
    <h2>Hello <%= user.username %></h2>
    <a href="/user/logout">Log Out</a>
    <% if (user.role === "admin") { %>
      <p>You are an admin!</p>
    <% } %>
  <% } %>

  <p>Welcome to </p>
</div>
<%- include("./partials/foot") %>
