<%- include("./partials/head") %>
<%- include("./partials/header") %>
<%- include("./partials/hero") %>
<div class="main">
  <h1><%= user %></h1>
  <% if (user) { %>
    <h2>Hello <%= user.username %></h2>
    <a href="/logout">Log Out</a>
  <% } %>

  <p>Welcome to </p>
</div>
<%- include("./partials/foot") %>
