<%- include("./partials/head") %>
<%- include("./partials/header") %>
<%- include("./partials/hero") %>
<div class="main">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</div>
<%- include("./partials/foot") %>
