<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= title %></h2>

  <form method="POST" class="product-form">
    <label for="name">Name:
      <input id="name" name="name" type="text" required value="<%= product ? product.name : null %>">
    </label>
    <label for="price">Price (format: 00.00, without a currency):
      <input id="price" name="price" type="text" required value="<%= product ? product.price : null %>">
    </label>
    <label for="amount">Amount in stock:
      <input id="amount" name="amount" type="number" required value="<%= product ? product.amount : null %>">
    </label>
    <label for="category">Category:
      <select id="category" name="category" type="select" required value="<%= product ? product.category : null %>">
        <option value="">Please select a category</option>
        <% categories_list.forEach(category => { %>
          <% if (product) { %>
            <% if (category._id.toString() === product.category._id.toString()) { %>
              <option value="<%= category._id %>" selected><%= category.name %></option>
            <% } else { %>
              <option value="<%= category._id %>"><%= category.name %></option>
            <% } %>
          <% } else { %>
            <option value="<%= category._id %>"><%= category.name %></option>
          <% } %>
        <% }) %>
      </select>
    </label>
    <label for="description">Description:
      <textarea id="description" name="description" required><%= product ? product.description : null %></textarea>
    </label>

    <button type="submit" class="add-button">Add product</button>
  </form>
</div>
<%- include("./partials/foot") %>