<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= title %></h2>

  <% if (products_list.length) { %>
    <div class="products-list">
      <% products_list.forEach(product => { %>
        <div class="list-product">
          <a href="<%= product.url %>">
            <div class="list-product-img"></div>
            <p class="name"><%= product.name %></p>
          </a>
          <p class="price">$<%= product.price %></a></p>
          <div class="add-button">Add to cart</div>
        </div>
      <% }) %>

      </div>
  <% } else { %>
    <p>There are no products.</p>
  <% } %>
</div>
<%- include("./partials/foot") %>

