<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main">
  <h2><%= product.name %></h2>

  <p><%= product.description %></p>
  <p>$<%= product.price %></p>
  <p>In stock: <%= product.amount %></p>
  <p>Category: <%= product.category.name %> </p>

  <div>
    <h3>Admin actions</h3>
    <a href="<%= product.url %>/edit">Edit product</a>
    <a href="<%= product.url %>/delete">Delete product</a>
  </div>
</div>
<%- include("./partials/foot") %>

