<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="main product">
  <h2><%= product.name %></h2>
  <div class="left">
    <div class="product-img"></div>
    <p>$<%= product.price %></p>
  
    <p>In stock: <%= product.amount %></p>
    <p>Quantity</p>
  </div>


  <div class="right">
    <p><%= product.description %></p>
    <p>Category: <%= product.category.name %> </p>
  </div>

 


  <div>
    <h3>Admin actions</h3>
    <a href="<%= product.url %>/edit">Edit product</a>
    <a href="<%= product.url %>/delete">Delete product</a>
  </div>
</div>
<%- include("./partials/foot") %>

